body {
  background-color: #f0f8ff; /* Màu nền nhẹ cho toàn bộ trang */
  font-family: "Inter", sans-serif; /* Font chữ toàn bộ */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 30px auto;
  border-radius: 12px;
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.login-title {
  font-weight: 700;
  font-size: 2rem;
  color: #ff6347;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login_name_label,
.login_pass_label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  color: #333;
  font-weight: 600;
  padding-left: 5px;
}

input {
  border: 1px solid #ddd;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.3s;
}

input::placeholder {
  color: #bbb;
}

input:focus {
  border-color: #ff6347;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 99, 71, 0.4);
}

button {
  cursor: pointer;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  color: #ffffff;
  background-color: #ff6347;
  font-size: 1.1rem;
  font-weight: 600;
  transition: background-color 0.3s;
  margin-top: 1rem;
  box-shadow: 0 4px 10px rgba(255, 99, 71, 0.3);
}

button:hover {
  background-color: #d9534f;
}

.login-err {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
  margin-bottom: 10px;
  display: block;
}

input {
  margin-bottom: 0.5rem;
}

.login-register{
  font-size: 0.7rem;
}

.login-register-link {
  text-decoration: none;
  color: #ff6347;
  font-weight: 700;
  transition: color 0.3s;
}

.login-register-link:hover {
  color: #d9534f;
}
