/* IngredientManagement.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.ingredient-management-container {
    width: 1200px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100vh;
}

.ingredient-title {
    text-align: center;
    color: #333;
    margin: 20px 0;
}

.add-ingredient-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-ingredient-button:hover {
    background-color: #218838;
}

.ingredient-table-container {
    margin-top: 20px;
}

.ingredient-table {
    width: 100%;
    border-collapse: collapse;
}

.ingredient-header {
    background-color: #f2f2f2;
    color: #555;
    padding: 15px;
}

.ingredient-cell {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.edit-button, .delete-button {
    background-color: #007bff; /* Màu xanh cho nút sửa */
    color: white;
    border: none;
    padding: 8px 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    background-color: #dc3545; /* Màu đỏ cho nút xóa */
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button:hover {
    background-color: #c82333;
}
