.add-product-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 40px);
    overflow-y: auto;
    width: calc(100% - 240px);
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .add-product-header {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .input-field,
  .textarea-field,
  .file-input,
  .ingredient-select,
  .ingredient-quantity {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .ingredient-quantity {
    margin-top: 20px
  }
  
  .textarea-field {
    height: 120px;
  }
  
  .ingredient-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    gap: 10px;
  }
  
  .submit-button,
  .back-button,
  .remove-ingredient-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
  }

  .add-ingredient-button{
    width: 200px;
    background-color: green;
  }

  .remove-ingredient-button {
    margin-top: 2px;
  }
  
  .remove-ingredient-button {
    background-color: #ff4d4d;
    margin-left: 10px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .success-message {
    color: green;
    margin-bottom: 10px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .back_btn_AddProduct{
    position: relative;
    left: 0;
    font-size: 24px;
    width: 50px;
    padding: 10px;
    color: #007BFF ;
  }

  .submit-button-addproduct{
    width: auto;
    background-color: darkgreen;
  }

  .submit-button-addproduct:hover{
    background-color: green;
  }

  .back_btn_AddProduct:hover{
    cursor: pointer;
    color: #0056b3;
  }

  .error-message-product {
    color: red; 
    background-color: #ffe6e6; 
    border: 1px solid red; 
    padding: 10px;
    margin: 10px 0; 
    border-radius: 5px; 
    font-weight: bold; 
  }
  
  
  @media (min-width: 768px) {
    .button-group {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  