*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
.App {
  margin: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.15rem;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  width: 100%;
}

.container_div{
  display: flex;
}

